.flex {
  display: flex;
}

.block {
  display: block;
}

.gap1 {
  gap: 1rem;
}

.gap-12px {
  gap: .75rem;
}

.gap-20px {
  gap: 1.35rem;
}

.desktop-only {
  display: none;
}

.items-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lh32 {
line-height: 2rem;
}

.lh20 {
  line-height: 1.25rem;
}

.lh16 {
  line-height: 1rem;
}

